
/*@font-face {*/
/*    font-family: swiper-icons;*/
/*    src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');*/
/*    font-weight: 400;*/
/*    font-style: normal*/
/*}*/

.font-tabassom {
    font-family: 'IRANSansWeb';

}

.parent {
    overflow-x: hidden;
    width: 100%;
}


.card {
    background: #ffffff;
    backdrop-filter: blur(30px);
    opacity: 90%;
    transition: .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.card-footer {
    background: none;
}

.card:hover {
    transition: .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(1.05);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.175);
    opacity: 100%;

}

.w-23 {
    width: 85%;
}

@media (min-width: 768px) {
    .w-23 {
        width: 32%;
    }
}

@media (min-width: 991px) {
    .w-23 {
        width: 23%;
    }
}
.course-header{
    position: relative;
}
.course-header-overlay{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.discount{
    padding-top: 40px;
    margin-top: -5%;
    margin-right: 70%;
    color: #f1f1f1;
    transition: .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.no-discount{
    display: none;
}
.card:hover div div{
     margin-top: 0;
     transition: .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.title-parent {
    overflow: hidden;
    position: relative;
}

.main-title- {
    padding-left: 5px;
    border-right: #43596e 4px solid;
    font-family: "IRANSansWeb";
    padding-right: 10px;
    margin-right: 3px;
    opacity: 70%;
}

.main-title-::after {
    content: "";
    position: absolute;
    opacity: 20%;
    width: 100%;
    height: 20px;
    border-bottom: #000000 2px solid;
    margin-right: 10px;
    margin-left: 10px;

}

.my-btn {
    border: 2px #43596e solid;
    opacity: 40%;
}

.my-btn:hover {
    background: #FFFFFF;
    transition: .1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(1.05);
    opacity: 90%;
    border: #FFFFFF 1px solid;
    color: #2c3a47;
}

    .middle-window {
    position: relative;
    width: 100%;
    backdrop-filter: blur(9px);
    /*border-radius: 9px;*/
    background: url("../imgs/u4ecospmnqfa.jpeg");
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.middle-window-inner-right {
    position: absolute;
    height: 60%;
    top: 5%;
    bottom: 10%;
    right: 0;
    /*background: #FFFFFF;*/
    backdrop-filter: blur(10px);
    border-radius: 9px;
    opacity: 100%;
    padding: 5% 5% 5% 5%;
}

.middle-window-inner-left {
    position: absolute;
    top: 60%;
    left: 5%;
    bottom: -5%;
    width: 90%;
    height: 50%;
    z-index: 800;
    background: #FFFFFF;
    border-radius: 9px;

}


@media (min-width:768px) {
   .middle-window {
    position: relative;
    width: 100%;
    backdrop-filter: blur(9px);
    /*border-radius: 9px;*/
    background: url("../imgs/u4ecospmnqfa.jpeg");
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.middle-window-inner-right {
    position: relative;
    height: 80%;
    top: 10%;
    bottom: 10%;
    /*background: #FFFFFF;*/
    backdrop-filter: blur(10px);
    border-radius: 9px;
    opacity: 95%;
    padding: 5% 5% 5% 10%;
}

.middle-window-inner-left {
    position: absolute;
    top: -5%;
    left: 5%;
    bottom: -5%;
    width: 40%;
    height: 110%;
    z-index: 800;
    background: #FFFFFF;
    border-radius: 9px;

}
}
@media (min-width:991px) {
   .middle-window {
    position: relative;
    width: 100%;
    backdrop-filter: blur(9px);
    /*border-radius: 9px;*/
    background: url("../imgs/u4ecospmnqfa.jpeg");
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.middle-window-inner-right {
    position: relative;
    height: 80%;
    top: 10%;
    bottom: 10%;
    /*background: #FFFFFF;*/
    backdrop-filter: blur(10px);
    border-radius: 9px;
    opacity: 95%;
    padding: 5% 5% 5% 10%;
}

.middle-window-inner-left {
    position: absolute;
    top: -5%;
    left: 10%;
    bottom: -5%;
    width: 30%;
    height: 110%;
    z-index: 800;
    background: #FFFFFF;
    border-radius: 9px;

}
}

.text-justify {
    text-align: justify;
}

.text {
    font-size: 20px;
}
.w-32{
    width: 32%;
}
.blog-header{
    margin-top: 70px;
}

    .middle-window-2 {
    position: relative;
    width: 100%;
    backdrop-filter: blur(9px);
    /*border-radius: 9px;*/
    background: url("../imgs/design-thinking-toolshero.jpg");
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.middle-window-inner-right-2 {
    position: absolute;
    height: 60%;
    top: 5%;
    bottom: 10%;
    right: 0;
    /*background: #FFFFFF;*/
    backdrop-filter: blur(10px);
    border-radius: 9px;
    opacity: 100%;
    padding: 5% 5% 5% 5%;
}

.middle-window-inner-left-2 {
    position: absolute;
    top: 65%;
    left: 5%;
    bottom: -5%;
    width: 90%;
    height: 55%;
    z-index: 800;
    background: #6c757d;
    border-radius: 9px;

}


@media (min-width:768px) {
   .middle-window-2 {
    position: relative;
    width: 100%;
    backdrop-filter: blur(9px);
    /*border-radius: 9px;*/
    background: url("../imgs/design-thinking-toolshero.jpg");
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.middle-window-inner-right-2 {
    position: relative;
    height: 80%;
    top: 10%;
    bottom: 10%;
    /*background: #FFFFFF;*/
    backdrop-filter: blur(10px);
    border-radius: 9px;
    opacity: 95%;
    padding: 5% 5% 5% 10%;
}

.middle-window-inner-left-2 {
    position: absolute;
    top: -5%;
    left: 5%;
    bottom: -5%;
    width: 40%;
    height: 110%;
    z-index: 800;
    background: #6c757d;
    border-radius: 9px;

}
}
@media (min-width:991px) {
   .middle-window-2 {
    position: relative;
    width: 100%;
    backdrop-filter: blur(9px);
    /*border-radius: 9px;*/
    background: url("../imgs/design-thinking-toolshero.jpg");
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.middle-window-inner-right-2 {
    position: relative;
    height: 80%;
    top: 10%;
    bottom: 10%;
    /*background: #FFFFFF;*/
    backdrop-filter: blur(10px);
    border-radius: 9px;
    opacity: 95%;
    padding: 5% 5% 5% 10%;
}

.middle-window-inner-left-2 {
    position: absolute;
    top: -5%;
    left: 10%;
    bottom: -5%;
    width: 30%;
    height: 110%;
    z-index: 800;
    background: #6c757d;
    border-radius: 9px;

}
}
.footer{
    margin-top: 110px;
    background: #2c3a47;
}
.box {
    transform: translatex(1500px);
    transition: transform .8s ease;
    opacity: 0;
}

.box.show {
    transform: translateX(0);
    opacity: 100%;

}